body {
  margin: 0;
  padding: 0;
}
#bar {
  height: 60px;
}
#navbar {
  display: flex;
  height: 82px;
  width: 100vw;
  position: fixed;
  float: right;
  top: 0px;
  background-color: rgb(243, 38, 38);
  justify-content: flex-end;
  align-items: center;
}
#nav {
  display: flex;
  padding-right: 200px;
}
#nav li {
  display: inline-block;
  margin: 0 25px;
}
#top1,#top2,top3 {
  font-size: 21px;
  font-family: 仿宋;
  color: black;
  text-decoration: none;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 21, 41);
  height: 100vh;
  width: 100vw;
}
#w1 {
  color: wheat;
  padding-top: 30vh;
  margin-bottom: 1px;
}
#w2 {
  text-align: center;
  margin-top: 5px;
  color: wheat;
}
h1,
h2,
h3 {
  font-family: 楷体;
  font-size: 55px;
  text-align: center;
}
img {
  height: 350px;
}
#projects {
  display: flex;
  flex-direction: column;
  background-color: darkcyan;
  height: 100vh;
  width: 100vw;
}
.dhz {
  display: flex;
  justify-content: space-evenly;
}
.d1 {
  background-color: rgb(1, 29, 29);
}
.tuwen {
  text-align: center;
  color: wheat;
}
.lianxi {
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 21, 41);
  height: 100vh;
  width: 100vw;
}
.l1 {
  margin-top: 180px;
  color: white;
}
.lianxi-box {
  display: flex;
  justify-content: space-evenly;
}
.lin {
  font-size: 35px;
  font-family: 仿宋;
  color: white;
  text-decoration: none;
}
.footer {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 10vh;
  width: 100vw;
  justify-content: center;
}
.footer-text {
  font-size: 15px;
  color: beige;
}
@media screen and (max-width: 768px) {
  #welcome-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 21, 41);
    height: auto;
    width: 100vw;
  }
  #projects {
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    height: auto;
    width: 100vw;
  }
  .lianxi {
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 21, 41);
    height: auto;
    width: 100vw;
  }
  .dhz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .lianxi-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}
